.detail-wrapper {
    margin: -200px 30px 0px;
    box-shadow: 0 16px 24px 2px rgba(0, 0, 0, 0.14), 0 6px 30px 5px rgba(0, 0, 0, 0.12), 0 8px 10px -5px rgba(0, 0, 0, 0.2);
    border-radius: 6px;
    z-index: 3;
    position: relative;
    background: #FFFFFF;
    padding-bottom: 60px;

    @media (max-width: 425px) {
        margin: -200px 0px 0px;
    }
}

.project-content {
    width: 85%;
    padding-top: 60px;
}

.project-image {
    overflow: hidden;
}

.project-title {
    color: #3C4858;
    position: relative;
    margin-top: 10px;
    min-height: 32px;
    font-weight: 700;
    font-family: "Roboto Slab", "Times New Roman", serif;
    width: 100%;
}

.project-date {
    color: #409648;
}

.description-wrapper {
    padding-top: 30px;

    p {
        margin: 0;
        font-size: 15px;
    }
    
    .tbold {
        font-weight: bold;
        margin-bottom: 0px;
        margin-top: 30px;
    }
    
}

bold {
    font-weight: 400;
}

.badge-wrapper span {
    font-weight: 300;
    margin-right: 10px;
    margin-top: 10px;
    padding: 6px 20px;
    background-color: #f4f4f4;
    color:#555;
}

.pImgRaised {
    box-shadow: 0 5px 15px -8px rgba(0, 0, 0, 0.24), 0 8px 10px -5px rgba(0, 0, 0, 0.2);
    border-radius: 6px !important;
    height: auto;
    max-width: 100%;
}

.demoLink {
    color: #FFFFFF;
    border: none;
    margin: 0;
    cursor: pointer;
    padding: 5px 30px;
    position: relative;
    min-width: auto;
    font-size: 12px;
    min-height: auto;
    box-shadow: 0 2px 2px 0 rgba(153, 153, 153, 0.14), 0 3px 1px -2px rgba(153, 153, 153, 0.2), 0 1px 5px 0 rgba(153, 153, 153, 0.12);
    transition: box-shadow 0.2s cubic-bezier(0.4, 0, 1, 1), background-color 0.2s cubic-bezier(0.4, 0, 0.2, 1);
    text-align: center;
    font-weight: 400;
    will-change: box-shadow, transform;
    line-height: 1.42857143;
    white-space: nowrap;
    touch-action: manipulation;
    border-radius: 3px;
    text-transform: uppercase;
    letter-spacing: 0;
    vertical-align: middle;
    background-color: #686767;
    
    font-family: "Roboto", "Helvetica", "Arial", sans-serif;
    display: inline-flex;
    outline: none;
    justify-content: center;
    -webkit-appearance: none;
    -webkit-tap-highlight-color: transparent;
}