.expertise-wrapper {
    P {
        font-size: 16px;
    }
}

.skills-wrapper {
    margin-top: -30px;
}

.skills-container {
    margin-bottom: 50px;
    padding: 0 15px;

    h4 {
        font-weight: bold;
        margin-top: 30px;
    }
}