.custom-containerFluid {
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
    width: 100%;
}
.custom-container {
    @media (min-width: 576px) {
        max-width: 540px;
    }
    @media (min-width: 768px) {
        max-width: 720px;
    }
    @media (min-width: 992px) {
        max-width: 960px;
    }
    @media (min-width: 1200px) {
        max-width: 1140px;
    }
}

.foodart-pages {
    .Header-white-16 {
        background-color: #B5E61D!important;
    }
}
.recipes-wrapper {
    padding-top: 90px;
    justify-content: left;

    .card {
        background-color: #f9f9f9;
        border: none;
        margin: 25px;
    }
}